.cabecalho{
    background-color: azure;
    border: 10px;
    border-color: brown;
    border-style: none;
    margin: 10px;
    color: aliceblue;
    font-weight: 300;
}

#tigrinho{
    width: 1000px;

}

.lista-links{
    font-size: 30px;
    color: aliceblue;
}

.lista-links:hover{
    font-size: 40px;
    color: rgb(253, 40, 2);
}

.principal{
    background-color: rgb(255, 255, 255);
    border: 5px;
    border-color: aliceblue;
    border-style: double;
    margin: 10px;
    color: brown;
}